<%- include('_header.ejs')%>
<h2><%=pageTitle%></h2>
<p>Welcome to the Berlin Mongoose Conference.</p>
<p>Our conference features <%=speakers.length%> presenters and <%=presentations.length%> presentations.</p>
<p>We have presenters from <%=countries%>.</p>
<p>We have <%=sponsors.length%> international.</p>
<p>Please note that all presentations are located in rooms: <%=rooms%>.</p>
<%- include('_footer.ejs')%>
